body {
  background-color: #d1d8e0;
}
.resize {
  max-width: 60%;
  max-height: 60%;
  margin-top: 36px;
  margin-bottom: 191px;
}
.abouts {
  color: black;
  font-family: Helvetica;
  font-size: 24px;
  text-align: center;
}
.skills {
  color: black;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 24px;
}
.fonttab {
  color: white !important;
  font-family: Helvetica;
}
.backpanels {
  background-color: #82ccdd;
  margin-top: 100px;
  min-height: 400px;
}
.navcolor {
  background-color: #303952;
}
.email {
  width: 46px;
  height: 37px;
}
.judul {
  margin-top: 20px;
  font-size: 48px;
}
.backforms {
  margin-top: 100px;
}
.pmb {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 60%;
  max-height: 60%;
  margin-top: 50px;
}
.buttoncircle {
  display: block;
  height: 300px;
  width: 300px;
  border-radius: 50%;
}
.btn-link {
  padding-bottom: 5%;
}
