body {
        background-color: #d1d8e0;

    }
    .resize {
        max-width: 60%;
        max-height: 60%;
        margin-top: 36px;
        margin-bottom: 191px;
    }
    .satu {
        color: black;
        font-family: Helvetica;
        font-size: 24px;
        text-align: center;
    }
    .fonttab{

        color: white !important;
        font-family: Helvetica;
    }
    .backpanels{
        background-color: #82ccdd;
        margin-top: 100px;
    }
    .navcolor{
        background-color: #303952;
    }
    .email {
        width: 46px;
        height: 37px;
    }
    .judul{
        margin-top: 20px;
        font-size: 48px;
    }
    .backforms {
        margin-top: 100px;
    }
    .pmb {
        display: block;
        margin-left: auto;
        margin-right: auto;
         max-width: 60%;
        max-height: 60%;
        margin-top: 50px;
}