{% extends 'navbar.html' %} {% load static %} {% block content %}

<div class="container backpanels">
  <div class="panel panel-default backpanels">
    <h1>Hi! My name is Nadhirsyah</h1>
    <div class="row">
      <div class="col-sm-8">
        <h2 class="judul">About</h2>
        <p class="abouts">
          I am 20 years old. I am currently studying computer science in
          university of indonesia. I am interested in web development.
        </p>
        <h2 class="judul">Skill</h2>
        <br />
        <p class="skills">Python</p>
        <p class="skills">Java</p>
        <p class="skills">HTML/CSS</p>
        <p class="skills">Django</p>
        <p class="skills">Git</p>
        <p class="skills">Javascript</p>
        <p class="skills">SQL</p>
        <p class="skills">Reactjs</p>
      </div>
      <div class="col-sm-4">
        <img class = "resize" src={% static "image/pas.jpg"%}>
      </div>
    </div>
  </div>
</div>

{% endblock %}
