{% extends 'navbar.html' %}
{% load static %}
{% block content %}

    <div class="container backpanels">
        <div class="panel panel-default backpanels">
          <h2 class= "judul">Contact Me</h2>
          <div class="btn-link">
          <button type="button" class="btn btn-color btn-circle btn-lg"><a href="https://www.linkedin.com/in/nadhirsyah-indra/"><i class="fab fa-linkedin-in"></i></a></button>
          </div>
          <div class="row">
                <div class="col-8">
                    <form action="" method="POST">
                      {% csrf_token %}
                        {{form}}
                        <button type="submit" class="submit button primary">Kirim Status </button>
                        <a href="{% url 'about' %}"><button class="button primary" type="button" name="button">Who Am I?</button></a>
                        <h1 > Status </h1>

                        <tr class ="grid-x">
                          <table style="width: 100%;">
                            <tr>
                              <th>Message</th>
                              <th>Time</th>
                            </tr>
                            {% for stat in status %}
                              <tr>
                                <th > {{stat.title}} </th>
                                <th > "<i>{{stat.date}}</i>" </th>
                              </tr>
                            {% endfor %}
                          </table>
                      </form>
                      </div>
                  </div>
              </div>
          </div>
      </div>


{% endblock %}
