{% extends 'navbar.html' %} {% load static %} {% block content %}

<div class="container backpanels">
  <div class="panel panel-default backpanels">
    <div class="row">
      <div class="col-8">
        <h2 class="judul">Hi there welcome to my website</h2>
        <a href="{% url 'about' %}"
          ><button type="button" class="btn btn-secondary btn-lg btn-sm">
            About Me
          </button></a
        >
        <a href="{% url 'contact' %}"
          ><button type="button" class="btn btn-secondary btn-lg btn-sm">
            Contact Me
          </button></a
        >
      </div>
    </div>
  </div>

  {% endblock %}
</div>
